---
# We'll use defaults from the Google style
BasedOnStyle: Google
SortIncludes: false
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
BreakBeforeBraces: Custom
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeComma
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  BeforeElse: true
  AfterCaseLabel: true